.container {
    text-align: center;
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
    justify-content:center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color:rgb(255, 0, 149);
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

p {
    font-size: 20px;
}
